:root{
    --text-color: black;
    --background-color: #f0f4f5;
    --accent-color:#d49466;
    display: block;
    font-family: 'inter';
}

body {
    margin: 0px;
    font-family: 'inter';
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#f0f4f5;
}

.navbar__logo {
    margin-left: 2%;
    font-size: 20px;
    color: black;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #F1D064;
    font-size: 20px;
    font-family: "inter";
    font-weight: 750;
    color: #38170F;
}

.navbar__menu :hover {
    background: #d49466;
    border-radius: 50px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0px;
}

.navbar__icons li {
    /* padding: 8px 12px; */
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}